/* .get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
  
  }
 .title{
    color: blue;
    text-align: center;
 }
  
  
  .contact-form .form-field {
    position: relative;
    margin: 32px 0;
  }
  .contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .contact-form .input-text:focus {
    outline: none;
  }
  .contact-form .input-text:focus + .label,
  .contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }
  .contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, 
    -webkit-transform .2s ease-in-out;
  }
  .contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
     background-image: linear-gradient(125deg,#a72879,#064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:200px;
    cursor: pointer;
  } */


  
  
* {
  font-family: 'Arial', sans-serif;
}
#container {
  /* position: relative; */
  /* text-align: center; */
  /* max-width: 5%; */
  box-sizing: border-box;
  margin: 0 auto;
  /* right: 6%; */
}
/* .buttons {
  position: absolute;
  top: 180px;
  text-align: center;
  width: 100%;
}
.btn {
  width: 50px;
  height: 30px;
} */
.step-wizard {
  display: inline-block;
  position: relative;
  color: black;
  width: 70%;
  .progress {
    position: absolute;
    top: 26px;
    left: 10.5%;
    width: 79%;
    height: 2px;
  }
  }
  ul {
    position: absolute;
    width: 100%;
    list-style-type: none;
    padding: 0;
    left: -2%;
  }
  li {
    display: inline-block;
    text-align: center;
    width: 24%;
    & .step {
      text-align: center;
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      /* line-height: 30px; */
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 3px solid;
      border-color: #d0d0d0;
      background: #ffffff;
      -webkit-transition: background-color 0.6s ease, border-color 0.6s ease;
      -o-transition: background-color 0.6s ease, border-color 0.6s ease;
      transition: background-color 0.6s ease, border-color 0.6s ease;
    }
  } 
  #step_Progressing{
    /* border: 2px solid black; */
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    width: 166px;
    border-radius: 15px;
  }

/* @media only screen and (max-width: 1200px) {
  .step-wizard li {
    width: 24%;
  }
}

@media only screen and (max-width: 375px) {
  .step-wizard li {
    width: 22%;
  }
} */
/* 
li.done button div.step {
    font-size: 0;
}
li.done button div.step::before {
  content:  "\2713 ";
  font-size: 18px;
  
} */

/* #step_pending{
  background-color: #e6eb6d;
  border-radius: 20px;
  padding: 10px;
}
#stp2{
  background-color: #4be5e5;
  border-radius: 20px;
  padding: 10px;
}
#stp3{
  background-color: #cd4932;
  border-radius: 20px;
  padding: 10px;
}
#stp4{
  background-color: #49c169;
  border-radius: 20px;
  padding: 10px;
} */
/* #stp4{
  background-color: #49c169;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
} */