body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #02162b;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skill-main {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .skill-wrrap {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .skill-name {
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
      }
  
      .skill-bar {
        height: 20px;
        background-color: #00283a;
        border-radius: 8px;
      }
  
      .skill-per {
        height: 20px;
        background: #23576f;
        border-radius: 8px;
        width: 0;
        transition: 1s linear;
        position: relative;
        &:before {
          content: attr(per);
          position: absolute;
          padding: 4px 6px;
          background-color: #23576f;
          color: #fff;
          font-size: 11px;
          border-radius: 4px;
          top: -35px;
          right: 0;
          transform: translateX(50%);
        }
  
        &:after {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: #23576f;
          top: -20px;
          right: 0;
          transform: translateX(50%) rotate(45deg);
          border-radius: 2px;
        }
      }
    }
  }